fastapi
python-multipart
pydantic
uvicorn
groq
requests
python-dotenv
PyJWT
edge-tts
cloudinary
pydub
clerk-backend-api
asyncpg
stripe
redis[asyncio]
celery==5.3.6
sentry-sdk[fastapi]
pytest
pytest-asyncio
httpx
kombu==5.3.4
